/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel 5+ framework
/storage/framework/views/*
/storage/*.key
/public/storage
/public/hot

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen with changed public path
/public_html/storage
/public_html/hot

# Environment and config
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant

# Testing and build
.phpunit.result.cache
/public/build
/storage/pail
.phpactor.json
auth.json
